
<div class="container">

    <div class="row bg-purple">
        <div class="col-12 col-md-8 col-sm-8 text-white bg-purple-col-8">
            <h4>unlimited nbn™ plans from $40 a month
                unlimited nbn™ plans from $40 a month</h4>
            <p>Special offer pricing for 6 months. Sign up by 30 September. Normal pricing starts from $60 a month.</p>
            <button type="button" class="btn btn-check-it-out text-white">Check it out ></button>
        </div>

        <div class="col-12 col-md-4 col-sm-4">
            <img src="/images/amaysim-nbn-promo_0.png" class="image" alt="nbn promote pic">
        </div>
    </div>
</div>

<div class="controller">
    <div class="row">
        <div class="card-deck">
            <div class="card">

                <div class="card-body">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <h4 class="card-title">no lock-in contracts</h4>
                    <p class="card-text">Freedom to switch your plan or cancel at anytime.</p>
                </div>
            </div>
            <div class="card">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h4 class="card-title">simple to join</h4>
                    <p class="card-text">Quick and easy online sign-up, we’ll take care of all the fiddly bits.</p>
                </div>
            </div>
            <div class="card">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h4 class="card-title">easy to manage</h4>
                    <p class="card-text"><a href="#">Download our app</a> or manage your plans online..</p>
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</div>
