<footer>
    <div class="container footer-container">
        <div class="row">
            <div class="col-2">
                <ul class="footer-list">
                    <li><a href="#">Check coverage</a></li>
                    <li><a href="#">Find a store</a></li>
                    <li><a href="#">Recharge</a></li>
                </ul>
            </div>

            <div class="col-2">
                <ul class="footer-list">
                    <li><a href="#">Investor centre</a></li>
                    <li><a href="#">Media centre</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>

            <div class="col-2">
                <ul class="footer-list">
                    <li><a href="#">Live Chat or Email</a></li>
                    <li><a href="#">Complaints</a></li>
                    <li><a href="#">Terms & Policies</a></li>
                </ul>
            </div>

            <div class="col-2">
                <ul class="footer-list">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Refer a friend</a></li>
                    <li><a href="#">SIM cards</a></li>
                </ul>
            </div>

            <div class="col-2">

            </div>

            <div class="col-2">

                <!-- <div class="fb-page"
                    data-href="https://www.facebook.com/amaysim"
                    data-small-header="false"
                    data-hide-cover="false"
                    data-show-facepile="true"
                    data-show-posts="false">
                </div>

                <div id="fb-root"></div>

                <style>

                .fb-page, .fb-page:before, .fb-page:after {
                    border: 1px solid #ccc;
                }

                .fb-page:before, .fb-page:after {
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    left: 2px;
                    right: 2px;
                    height: 1px;
                    border-top: none
                }

                .fb-page:after {
                    left: 4px;
                    right: 4px;
                    bottom: -5px;
                    box-shadow: 0 0 2px #ccc
                }
                </style>

                <script>
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                </script>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-youtube"></a> -->
            </div>
        </div> <!-- end row -->
    </div>
</footer>
